<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>Record data here</title>
</head>
<body>
    <div class="forms">
        <form method="post">
            {% csrf_token %}
            <div>
                <label>Username</label>
                <label id="user">{{ request.user }}</label>
            </div>
            <div>
                <label>Score</label>
                <input type="number" id="score" name="score" />
            </div>
            <button type="button" class="btn btn-primary form-control" id="submit">Submit</button>
        </form>
    </div>
    {% for record in records %}
        {{record.user}}
        {{record.score}}
        {{record.date}}
    {% endfor %}
<script>
    $(document).ready(function(){
    $('#submit').on('click', function(){
        $user = $('#user').text();
        $score = $('#score').val();
  
        if($user == "" || $score == ""){
            alert("Please complete field");
        }else{
            $.ajax({
                type: "POST",
                url: "insert",
                data:{
                    user: $user,
                    score: $score,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(){
                    alert('Save Data');
                    $('#user').text('');
                    $('#score').val('');
                    window.location = "/";
                }
            });
        }
    });
});
</script>
</body>
</html>